{%extends 'user/base.html'%}
{%block title%}Enrolled and Played Games List{%endblock%}
{% load crispy_forms_tags %}

{%block body %}
<div class="row">
{% for i in enrolledgames %}
<div class="card col-md-2 m-2" style="width: 28rem">
    <div class="card-body">
        <ul class="list-group">
        <li class="list-group-item">No. of players: {{i.no_of_players}}</li>
        <li class="list-group-item">Start Time: {{i.start_time}}</li>
        <li class="list-group-item">End Tme: {{i.end_time}}</li>
        <li class="list-group-item">Max Players Allowed: {{i.max_players}}</li>
        </ul>
        <a href="/game/playing/{{i.id}}" class="btn btn-primary mt-2">Start Game</a>
    </div>
</div>
{%endfor%}
</div>

{%endblock%}